<form style="padding: 10px 0;">
    <div class="form-group" style="display: block;">
        <label for="birthsign-penalty-select">Choose an attribute to penalize by {{penalty}}:</label>
        <div>
            {{radioBoxes groupName choices checked=chosen localize=false}}
        </div>
    </div>
</form>
