<form class="{{cssClass}}" autocomplete="off">
    <div class="stickyHeader">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="item-resource">
                <table>
                    <thead>
                        <tr>
                            <th>Rank/Title</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><select name="data.rankTitle" data-type="String">
                                {{#select data.rankTitle}}
                                {{#each data.ranks as |ranks key|}}
                                <option value="{{key}}">{{ranks}}</option> 
                                {{/each}} {{/select}}
                            </select></td>
                            <td><input type="text" name="data.location" value="{{data.location}}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs3 tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body-items">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            <table class="field-inputs-small">
                <tr>
                    <td>Rank 1 Title</td>
                    <td><input type="text" name="data.ranks.rank1" value="{{data.ranks.rank1}}"/></td>
                </tr>
                <tr>
                    <td>Rank 2 Title</td>
                    <td><input type="text" name="data.ranks.rank2" value="{{data.ranks.rank2}}"/></td>
                </tr>
                <tr>
                    <td>Rank 3 Title</td>
                    <td><input type="text" name="data.ranks.rank3" value="{{data.ranks.rank3}}"/></td>
                </tr>
                <tr>
                    <td>Rank 4 Title</td>
                    <td><input type="text" name="data.ranks.rank4" value="{{data.ranks.rank4}}"/></td>
                </tr>
                <tr>
                    <td>Rank 5 Title</td>
                    <td><input type="text" name="data.ranks.rank5" value="{{data.ranks.rank5}}"/></td>
                </tr>
                <tr>
                    <td>Rank 6 Title</td>
                    <td><input type="text" name="data.ranks.rank6" value="{{data.ranks.rank6}}"/></td>
                </tr>
            </table>
        </div>
    </section>
</form>
