<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="stickyHeader">
        <div class="headerContainer">
            <div>
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
            </div>
            <div class="headerInfoFlexBox">
                <div>
                    <h1 class="charname"><input type="text" name="name" value="{{actor.name}}" placeholder="Name" disabled></h1>
                </div>
                <div class="merchantResources">
                    <div class="container1">
                        <div class="storeName">
                            <input type="text" name="data.storeName" value="{{data.storeName}}" placeholder="Store Name" disabled>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="wealthContainer">
                            <button type="button">
                                <img src="icons/commodities/currency/coins-plain-stack-gold-yellow.webp" alt="wealth" title="Quick Add/Subtract">
                            </button>
                            <input type="number" name="data.wealth" value="{{data.wealth}}" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="merchant">Merchant</a>
        </nav>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Merchant List Tab --}}
        <div class="tab core" data-group="primary" data-tab="merchant">
            <div class="merchantTabContainer">
                <table>
                    <thead>
                        <tr>
                            <th>Buy</th>
                            <th>Item</th>
                            <th>Type</th>
                            <th>ENC</th>
                            <th>QTY</th>
                            <th><i class="fas fa-trash"></i></th>
                        </tr>
                    </thead>
                    <tbody id="merchantItemList">
                        <div class="tableListHeader">
                            <h2>
                                <div class="leftInfo">
                                    <button type="button" class="item-create" id="createSelect">+</button>
                                    <label>Items</label>
                                </div>
                                <select id="itemFilter">
                                    <option>All</option>
                                </select>
                            </h2>
                        </div>
                        {{#each actor.data.merchantItem as |item id|}}
                        <tr class="item active" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <td>
                                <div class="buyFlexContainer">
                                    <a class="buyButton" title="Buy Item for {{item.data.modPrice}}">
                                        <i class="fas fa-coins"></i>
                                    </a>
                                    <div>{{item.data.modPrice}}</div>
                                </div>
                            </td>
                            <td>
                                <div class="tableItemNameCell">
                                    <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                    <div class="item-name">{{item.name}}</div>
                                </div>
                            </td>
                            <td>{{item.type}}</td>
                            <td>{{item.data.enc}}</td>
                            <td>{{item.data.quantity}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
</form>

