<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="resources">
                <label class="resource-label">Health</label><p>
                <input class="resource-hp" type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number"/>
                <span>-</span>
                <input class="resource-hp-max" type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="Number"/>
            </div>
            <div class="resources">
                <label class="resource-label">Magicka</label><p>
                <input class="resource-mp" type="text" name="data.magicka.value" value="{{data.magicka.value}}" data-dtype="Number"/>
                <span>-</span>
                <input class="resource-mp-max" type="text" name="data.magicka.max" value="{{data.magicka.max}}" data-dtype="Number"/>
            </div>
            <div class="resources">
                <label class="resource-label">Stamina</label><p>
                <input class="resource-sp" name="data.stamina.value" value="{{data.stamina.value}}" data-dtype="Number"/>
                <span>-</span>
                <input class="resource-sp-max" name="data.stamina.max" value="{{data.stamina.max}}" data-dtype="Number"/>
            </div>
            <div class="resources">
                <label class="resource-label">Luck Points</label><p>
                <input class="resource-lp" name="data.luck_points.value" value="{{data.luck_points.value}}" data-dtype="Number"/>
                <span>-</span>
                <input class="resource-lp-max" name="data.luck_points.max" value="{{data.luck_points.max}}" data-dtype="Number"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs2 tabs" data-group="primary">
        <a class="item" data-tab="core">Core</a>
        <a class="item" data-tab="desc">Biography</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="talents">Abilities</a>
        <a class="item" data-tab="items">Equipment</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Core Tab --}}
        <div class="tab core" data-group="primary" data-tab="core">
            <div>
            <table class="skill-table">
                <tr>
                    <th><input type="button" class="characteristic-roll" name="STR" id="str" value="STR"></th>
                    <th><input type="button" class="characteristic-roll" name="END" id="end" value="END"></th>
                    <th><input type="button" class="characteristic-roll" name="AGI" id="agi" value="AGI"></th>
                    <th><input type="button" class="characteristic-roll" name="INT" id="int" value="INT"></th>
                    <th><input type="button" class="characteristic-roll" name="WP" id="wp" value="WP"></th>
                    <th><input type="button" class="characteristic-roll" name="PRC" id="prc" value="PRC"></th>
                    <th><input type="button" class="characteristic-roll" name="PRS" id="prs" value="PRS"></th>
                    <th><input type="button" class="characteristic-roll" name="LCK" id="lck" value="LCK"></th>
                </tr>
                <tr>
                    <td><input name="data.characteristics.str.value" type="text" value="{{data.characteristics.str.value}}" data-dtype="Number"></td>
                    <td><input name="data.characteristics.end.value" type="text" value="{{data.characteristics.end.value}}" data-dtype="Number"></td>
                    <td><input name="data.characteristics.agi.value" type="text" value="{{data.characteristics.agi.value}}" data-dtype="Number"></td>
                    <td><input name="data.characteristics.int.value" type="text" value="{{data.characteristics.int.value}}" data-dtype="Number"></td>
                    <td><input name="data.characteristics.wp.value" type="text" value="{{data.characteristics.wp.value}}" data-dtype="Number"></td>
                    <td><input name="data.characteristics.prc.value" type="text" value="{{data.characteristics.prc.value}}" data-dtype="Number"></td>
                    <td><input name="data.characteristics.prs.value" type="text" value="{{data.characteristics.prs.value}}" data-dtype="Number"></td>
                    <td><input name="data.characteristics.lck.value" type="text" value="{{data.characteristics.lck.value}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="data.characteristics.str.favored" {{checked data.characteristics.str.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.end.favored" {{checked data.characteristics.end.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.agi.favored" {{checked data.characteristics.agi.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.int.favored" {{checked data.characteristics.int.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.wp.favored" {{checked data.characteristics.wp.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.prc.favored" {{checked data.characteristics.prc.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.prs.favored" {{checked data.characteristics.prs.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.lck.favored" {{checked data.characteristics.lck.favored}}></td>
                </tr>
            </table>
            </div>
            <div>
                <table>
                    <tr class="skill-table">
                        <th>Race/Species</th>
                        <th>Threat Rating</th>
                        <th>Age</th>
                        <th>Soul Energy</th>
                    </tr>
                    <tr class="field-inputs">
                        <td><input type="text" name="data.race" value="{{data.race}}" data-dtype="String"></td>
                        <td><select name="data.threat" data-type="String">
                            {{#select actor.data.threat}}
                            {{#each actor.data.threatCategory as |threatCategory key|}}
                            <option value="{{key}}">{{threatCategory}}</option> 
                            {{/each}} {{/select}}
                        </select></td> 
                        <td><input type="text" name="data.age" value="{{data.age}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.soul_energy" value="{{data.soul_energy}}" data-dtype="String"></td>
                    </tr>
                </table>
                <table>
                    <tr class="skill-table">
                        <th><input type="button" class="professions-roll" name="Combat" id="combat" value="Combat"></th>
                        <th><input type="button" class="professions-roll" name="Magic" id="magic" value="Magic"></th>
                        <th><input type="button" class="professions-roll" name="Evade" id="evade" value="Evade"></th>
                        <th><input type="button" class="professions-roll" name="Observe" id="observe" value="Observe"></th>
                        <th><input type="button" class="professions-roll" name="Stealth" id="stealth" value="Stealth"></th>
                        <th><input type="button" class="professions-roll" name="Knowledge" id="knowledge" value="Knowledge"></th>
                        <th><input type="button" class="professions-roll" name="Social" id="social" value="Social"></th>
                        <th><input type="button" class="professions-roll" name="Physical" id="physical" value="Physical"></th>
                    </tr>
                    <tr class="field-inputs">
                        <td><input type="text" name="data.professions.combat" value="{{data.professions.combat}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.professions.magic" value="{{data.professions.magic}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.professions.evade" value="{{data.professions.evade}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.professions.observe" value="{{data.professions.observe}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.professions.stealth" value="{{data.professions.stealth}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.professions.knowledge" value="{{data.professions.knowledge}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.professions.social" value="{{data.professions.social}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.professions.physical" value="{{data.professions.physical}}" data-dtype="Number"></td>
                    </tr>
                </table>
            </div>
            <table>
                <tr class="skill-table">
                    <th>Roll</th>
                    <th>Unconventional Skill</th>
                    <th>Value</th>
                </tr>
                <tr class="field-inputs-small">
                    <td><input type="button" class="unconventional-roll" name="{{data.skills.profession1.name}}" id="profession1" value="Roll"></td>
                    <td><input type="text" name="data.skills.profession1.name" value="{{data.skills.profession1.name}}" data-dtype="String"></td>
                    <td><input type="text" name="data.skills.profession1.bonus" value="{{data.skills.profession1.bonus}}" data-dtype="Number"></td>
                </tr>
                <tr class="field-inputs-small">
                    <td><input type="button" class="unconventional-roll" name="{{data.skills.profession2.name}}" id="profession2" value="Roll"></td>
                    <td><input type="text" name="data.skills.profession2.name" value="{{data.skills.profession2.name}}" data-dtype="String"></td>
                    <td><input type="text" name="data.skills.profession2.bonus" value="{{data.skills.profession2.bonus}}" data-dtype="Number"></td>
                </tr>
                <tr class="field-inputs-small">
                    <td><input type="button" class="unconventional-roll" name="{{data.skills.profession3.name}}" id="profession3" value="Roll"></td>
                    <td><input type="text" name="data.skills.profession3.name" value="{{data.skills.profession3.name}}" data-dtype="String"></td>
                    <td><input type="text" name="data.skills.profession3.bonus" value="{{data.skills.profession3.bonus}}" data-dtype="Number"></td>
                </tr>
            </table>
        </div>

        {{!-- Bio Tab --}}
        <div class="tab desc" data-group="primary" data-tab="desc">
            <div>
                {{editor content=data.bio target="data.bio" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <table>
                <tr class="skill-table">
                    <th><input type="button" class="professions-roll" name="Combat" id="combat" value="Combat"></th>
                    <th><input type="button" class="professions-roll" name="Magic" id="magic" value="Magic"></th>
                    <th><input type="button" class="professions-roll" name="Evade" id="evade" value="Evade"></th>
                    <th><input type="button" class="professions-roll" name="Observe" id="observe" value="Observe"></th>
                    <th><input type="button" class="professions-roll" name="Stealth" id="stealth" value="Stealth"></th>
                    <th><input type="button" class="professions-roll" name="Knowledge" id="knowledge" value="Knowledge"></th>
                    <th><input type="button" class="professions-roll" name="Social" id="social" value="Social"></th>
                    <th><input type="button" class="professions-roll" name="Physical" id="physical" value="Physical"></th>
                </tr>
                <tr class="field-inputs">
                    <td><input type="text" value="{{data.professions.combat}}" disabled></td>
                    <td><input type="text" value="{{data.professions.magic}}" disabled></td>
                    <td><input type="text" value="{{data.professions.evade}}" disabled></td>
                    <td><input type="text" value="{{data.professions.observe}}" disabled></td>
                    <td><input type="text" value="{{data.professions.stealth}}" disabled></td>
                    <td><input type="text" value="{{data.professions.knowledge}}" disabled></td>
                    <td><input type="text" value="{{data.professions.social}}" disabled></td>
                    <td><input type="text" value="{{data.professions.physical}}" disabled></td>
                </tr>
            </table>
            <div class="combat-sidebar">
                <table class="combat_table_header2">
                    <tr>
                        <th>Weapons & Armor</th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Size</th>
                        <td><select name="data.size" data-type="String">
                            {{#select actor.data.size}}
                            {{#each actor.data.size_cat as |size_cat key|}}
                            <option value="{{key}}">{{size_cat}}</option> 
                            {{/each}} {{/select}}
                            </select></td>
                        <th>Armor Class</th>
                        <td><select name="data.armor_class" data-type="String">
                            {{#select actor.data.armor_class}}
                            {{#each actor.data.armor_class_cat as |armor_class_cat key|}}
                            <option value="{{key}}">{{armor_class_cat}}</option> 
                            {{/each}} {{/select}}
                            </select></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th colspan="3">Weapon Damage Rolls</th>
                    </tr>
                    <tr>
                        <td><input type="button" class="weapon-roll" name="weapon1" id="w1" value="Roll Weapon 1"></td>
                        <td><input type="button" class="weapon-roll" name="weapon2" id="w2" value="Roll Weapon 2"></td>
                        <td><input type="button" class="weapon-roll" name="weapon3" id="w3" value="Roll Weapon 3"></td>
                    </tr>
                </table>
                <h2 class="weapon-header">Weapons</h2>
                <ol class="combat-list">
                    {{#each actor.weapon as |weapon category|}}
                    {{#each weapon as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <h4 class="item-name">{{item.name}}</h4>
                            <label class="item-name">{{item.data.category}}</label>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                {{/each}}
            </ol>
            <h2 class="weapon-header">Armor</h2>
            <ol class="combat-list">
                {{#each actor.armor as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <label class="item-name">{{item.data.category}}</label>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
            </div>
            <div class="combat-sidebar2">
            <table class="combat_table_header2">
                <tr>
                    <th>Stats</th>
                </tr>
            </table>
            <table>
                <tr class="ap-inputs">
                    <th>Action Points</th>
                    <td><input type="text" name="data.action_points.value" value="{{data.action_points.value}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.action_points.max" value="{{data.action_points.max}}" data-dtype="Number"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Wound</th>
                    <th>Speed</th>
                    <th>Initiative</th>
                </tr>
                <tr class="ap-inputs">
                    <td><input type="text" name="data.wound_threshold.value" value="{{data.wound_threshold.value}}" disabled></td>
                    <td><input type="text" name="data.speed.value" value="{{data.speed.value}}" data-dtype="Number" disabled></td>
                    <td><input type="text" name="data.initiative.value" value="{{data.initiative.value}}" disabled></td>
                </tr>
            </table>
            <table class="field-inputs-small">
                <tr>
                    <th colspan="2">Resistances</th>
                </tr>
                <tr>
                    <th><input type="button" class="resistance-roll" name="Disease" id="diseaseR" value="Disease %"></th>
                    <td><input type="text" name="data.resistance.diseaseR" value="{{data.resistance.diseaseR}}" data-dtype="Number" disabled></td>
                </tr>
                <tr>
                    <th>Fire</th>
                    <td><input type="text" name="data.resistance.fireR" value="{{data.resistance.fireR}}" data-dtype="Number" disabled></td>
                </tr>
                <tr>
                    <th>Frost</th>
                    <td><input type="text" name="data.resistance.frostR" value="{{data.resistance.frostR}}" data-dtype="Number" disabled></td>
                </tr>
                <tr>
                    <th>Shock</th>
                    <td><input type="text" name="data.resistance.shockR" value="{{data.resistance.shockR}}" data-dtype="Number" disabled></td>
                </tr>
                <tr>
                    <th>Poison</th>
                    <td><input type="text" name="data.resistance.poisonR" value="{{data.resistance.poisonR}}" data-dtype="Number" disabled></td>
                </tr>
                <tr>
                    <th>Magic</th>
                    <td><input type="text" name="data.resistance.magicR" value="{{data.resistance.magicR}}" data-dtype="Number" disabled></td>
                </tr>
                <tr>
                    <th>Natural Toughness</th>
                    <td><input type="text" name="data.resistance.natToughness" value="{{data.resistance.natToughness}}" data-dtype="Number" disabled></td>
                </tr>
                <tr>
                    <th>Wounded</th>
                    <td><input type="checkbox" name="data.wounded" {{checked data.wounded}}></td>
                </tr>
                <tr>
                    <td colspan="2"><textarea name="data.woundNotes">{{data.woundNotes}}</textarea>
                </tr>
            </table>
        </div>
    </div>

        {{!-- Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <table>
                <tr>
                    <th colspan="7" class="combat_table_header2">Damage Rolls</th>
                </tr>
                <tr colspan="4">
                    <td><input type="button" class="spell-roll" name="Spell 1" id="s1" value="Roll Spell 1"></td>
                    <td><input type="button" class="spell-roll" name="Spell 2" id="s2" value="Roll Spell 2"></td>
                    <td><input type="button" class="spell-roll" name="Spell 3" id="s3" value="Roll Spell 3"></td>
                    <td><input type="button" class="spell-roll" name="Spell 4" id="s4" value="Roll Spell 4"></td>
                    <td><input type="button" class="spell-roll" name="Spell 5" id="s5" value="Roll Spell 5"></td>
                    <td><input type="button" class="spell-roll" name="Spell 6" id="s6" value="Roll Spell 6"></td>
                    <td><input type="button" class="spell-roll" name="Spell 7" id="s7" value="Roll Spell 7"></td>
                </tr>
            </table>
            <ol class="combat-list">
                {{#each actor.spell as |spell school|}}
                <div>
                    <table>
                        <tr>
                            <td colspan="2" class="itemHeader">{{school}} spells</th>
                        </tr>
                    </table>
                </div>
                {{#each spell as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <h4 class="item-name">{{item.data.category}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
        </div>

        {{!-- Talents Tab --}}
        <div class="tab talents" data-group="primary" data-tab="talents">
            <div>
                <table class="field-inputs-small">
                    <tr>
                        <th colspan="7">Resistances & Weaknesses</th>
                    </tr>
                    <tr>
                        <th>Disease %</th>
                        <th>Fire</th>
                        <th>Frost</th>
                        <th>Shock</th>
                        <th>Poison</th>
                        <th>Magic</th>
                        <th>Natural Toughness</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="data.resistance.diseaseR" value="{{data.resistance.diseaseR}}" data-dtype="Number" disabled></td>
                        <td><input type="text" name="data.resistance.fireR" value="{{data.resistance.fireR}}" data-dtype="Number" disabled></td>
                        <td><input type="text" name="data.resistance.frostR" value="{{data.resistance.frostR}}" data-dtype="Number" disabled></td>
                        <td><input type="text" name="data.resistance.shockR" value="{{data.resistance.shockR}}" data-dtype="Number" disabled></td>
                        <td><input type="text" name="data.resistance.poisonR" value="{{data.resistance.poisonR}}" data-dtype="Number" disabled></td>
                        <td><input type="text" name="data.resistance.magicR" value="{{data.resistance.magicR}}" data-dtype="Number" disabled></td>
                        <td><input type="text" name="data.resistance.natToughness" value="{{data.resistance.natToughness}}" data-dtype="Number" disabled></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="itemHeader">Traits</td>
                    </tr>
                </table>
                <ol class="ability-list">
                    {{#each actor.trait as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <h4 class="item-name">{{item.name}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
            </ol>
                    <table>
                        <tr>
                            <td class="itemHeader">Powers</td>
                        </tr>
                    </table>
                    <ol class="ability-list">
                        {{#each actor.power as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                </ol>
                        <table>
                            <tr>
                                <td class="itemHeader">Talents</td>
                            </tr>
                        </table>
                        <ol class="ability-list">
                            {{#each actor.talent as |item id|}}
                                <li class="item flexrow" data-item-id="{{item._id}}">
                                    <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                    <h4 class="item-name">{{item.name}}</h4>
                                    <div class="item-controls">
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                            {{/each}}
                    </ol>
            </div>
            <div>
                <h2 class="itemHeader">Special Abilities</h2>
                {{editor content=data.talents target="data.talents" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div>
                <table class="skill-table">
                    <tr>
                        <th>Wealth</th>
                        <th>Supply</th>
                        <th>Carry Bonus</th>
                        <th>Carry Rating</th>
                        <th>Current ENC</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="data.wealth" value="{{data.wealth}}" data-dtype="Number"></td>
                        <td><select name="data.supply" data-dtype="String">
                            {{#select actor.data.supply}}
                            {{#each actor.data.supply_cat as |supply_cat key|}}
                            <option value="{{key}}">{{supply_cat}}</option>
                            {{/each}} {{/select}}
                        </select></td>
                        <td><input type="text" name="data.carry_rating.bonus" value="{{data.carry_rating.bonus}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.carry_rating.max" value="{{data.carry_rating.max}}" data-dtype="Number" disabled></td>
                        <td><input class="enc-color-green" type="text" name="data.current_enc" value="{{data.current_enc}}" data-dtype="Number" disabled></td>
                    </tr>
                </table>
            </div>
            <div class="itemHeader">
            <table>
                <tr>
                    <th colspan="4">ARMOR</th>
                </tr>
                <tr>
                    <td class="itemHeaderQTY">QTY</td>
                    <td class="itemHeaderQTY">ENC</td>
                    <td class="itemHeaderQTY">LOCATION</td>
                    <td class="itemHeaderItem">ITEM</td>
                </tr>
            </table>
            </div>
            <ol class="item-list">
                {{#each actor.armor as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-list-resource">
                        <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number" disabled>
                        <input type="text" name="data.enc" value="{{data.enc}}" data-dtype="Number" disabled>
                        <input type="text" name="data.category" value="{{data.category}}" disabled>
                        </div>
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
        </ol>
                <div class="itemHeader">
                    <table>
                        <tr>
                            <th colspan="3">WEAPONS</th>
                        </tr>
                        <tr>
                            <td class="itemHeaderQTY">QTY</td>
                            <td class="itemHeaderQTY">ENC</td>
                            <td class="itemHeaderQTY">LOCATION</td>
                            <td class="itemHeaderItem">ITEM</td>
                        </tr>
                    </table>
                    </div>
                    <ol class="item-list">
                        {{#each actor.weapon as |weapon category|}}
                        {{#each weapon as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-list-resource">
                                    <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number" disabled>
                                    <input type="text" name="data.enc" value="{{data.enc}}" data-dtype="Number" disabled>
                                    <input type="text" name="data.category" value="{{data.category}}" disabled>
                                </div>
                                <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    {{/each}}
                </ol>
            <div class="itemHeader">
                <table>
                    <tr>
                        <th colspan="3">EQUIPMENT</th>
                    </tr>
                    <tr>
                        <td class="itemHeaderQTY">QTY</td>
                        <td class="itemHeaderQTY">ENC</td>
                        <td class="itemHeaderItem">Item</td>
                    </tr>
                </table>
                </div>
            <ol class="item-list">
                {{#each actor.gear as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-list-resource">
                        <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number" disabled>
                        <input type="text" name="data.enc" value="{{data.enc}}" data-dtype="Number" disabled>
                        </div>
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
        </ol>
        </div> 
    </section>
</form>
