<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="stickyHeader">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="resources">
                <label class="resource-label">Health</label><p>
                <input class="resource-hp" type="number" name="data.hp.value" value="{{data.hp.value}}" />
                <span>-</span>
                <input class="resource-hp-max" type="number" name="data.hp.max" value="{{data.hp.max}}" />
            </div>
            <div class="resources">
                <label class="resource-label">Magicka</label><p>
                <input class="resource-mp" type="number" name="data.magicka.value" value="{{data.magicka.value}}" />
                <span>-</span>
                <input class="resource-mp-max" type="number" name="data.magicka.max" value="{{data.magicka.max}}" />
            </div>
            <div class="resources">
                <label class="resource-label">Stamina</label><p>
                <input class="resource-sp" type="number" name="data.stamina.value" value="{{data.stamina.value}}" />
                <span>-</span>
                <input class="resource-sp-max" type="number" name="data.stamina.max" value="{{data.stamina.max}}" />
            </div>
            <div class="resources">
                <label class="resource-label">Luck Points</label><p>
                <input class="resource-lp" type="number" name="data.luck_points.value" value="{{data.luck_points.value}}" />
                <span>-</span>
                <input class="resource-lp-max" type="number" name="data.luck_points.max" value="{{data.luck_points.max}}" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs2 tabs" data-group="primary">
        <a class="item" data-tab="core">Core</a>
        <a class="item" data-tab="desc">Biography</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="talents">Abilities</a>
        <a class="item" data-tab="items">Equipment</a>
    </nav>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Core Tab --}}
        <div class="tab core" data-group="primary" data-tab="core">
            <div>
            <table class="skill-table">
                <tr>
                    <th><input type="button" class="characteristic-roll" name="STR" id="str" value="STR"></th>
                    <th><input type="button" class="characteristic-roll" name="END" id="end" value="END"></th>
                    <th><input type="button" class="characteristic-roll" name="AGI" id="agi" value="AGI"></th>
                    <th><input type="button" class="characteristic-roll" name="INT" id="int" value="INT"></th>
                    <th><input type="button" class="characteristic-roll" name="WP" id="wp" value="WP"></th>
                    <th><input type="button" class="characteristic-roll" name="PRC" id="prc" value="PRC"></th>
                    <th><input type="button" class="characteristic-roll" name="PRS" id="prs" value="PRS"></th>
                    <th><input type="button" class="characteristic-roll" name="LCK" id="lck" value="LCK"></th>
                </tr>
                <tr>
                    <td><input name="data.characteristics.str.value" type="number" value="{{data.characteristics.str.value}}" ></td>
                    <td><input name="data.characteristics.end.value" type="number" value="{{data.characteristics.end.value}}" ></td>
                    <td><input name="data.characteristics.agi.value" type="number" value="{{data.characteristics.agi.value}}" ></td>
                    <td><input name="data.characteristics.int.value" type="number" value="{{data.characteristics.int.value}}" ></td>
                    <td><input name="data.characteristics.wp.value" type="number" value="{{data.characteristics.wp.value}}" ></td>
                    <td><input name="data.characteristics.prc.value" type="number" value="{{data.characteristics.prc.value}}" ></td>
                    <td><input name="data.characteristics.prs.value" type="number" value="{{data.characteristics.prs.value}}" ></td>
                    <td><input name="data.characteristics.lck.value" type="number" value="{{data.characteristics.lck.value}}" ></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="data.characteristics.str.favored" {{checked data.characteristics.str.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.end.favored" {{checked data.characteristics.end.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.agi.favored" {{checked data.characteristics.agi.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.int.favored" {{checked data.characteristics.int.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.wp.favored" {{checked data.characteristics.wp.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.prc.favored" {{checked data.characteristics.prc.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.prs.favored" {{checked data.characteristics.prs.favored}}></td>
                    <td><input type="checkbox" name="data.characteristics.lck.favored" {{checked data.characteristics.lck.favored}}></td>
                </tr>
            </table>
            </div>
            <div>
                <table>
                    <tr class="skill-table">
                        <th>Race/Species</th>
                        <th>Threat Rating</th>
                        <th>Age</th>
                        <th>Soul Energy</th>
                    </tr>
                    <tr class="field-inputs">
                        <td><input type="text" name="data.race" value="{{data.race}}" ></td>
                        <td><select name="data.threat" data-type="String">
                            {{#select actor.data.threat}}
                            {{#each actor.data.threatCategory as |threatCategory key|}}
                            <option value="{{key}}">{{threatCategory}}</option> 
                            {{/each}} {{/select}}
                        </select></td> 
                        <td><input type="number" name="data.age" value="{{data.age}}" ></td>
                        <td><input type="number" name="data.soul_energy" value="{{data.soul_energy}}" ></td>
                    </tr>
                </table>
                <table>
                    <tr class="skill-table">
                        <th><input type="button" class="professions-roll" name="Combat" id="combat" value="Combat"></th>
                        <th><input type="button" class="professions-roll" name="Magic" id="magic" value="Magic"></th>
                        <th><input type="button" class="professions-roll" name="Evade" id="evade" value="Evade"></th>
                        <th><input type="button" class="professions-roll" name="Observe" id="observe" value="Observe"></th>
                        <th><input type="button" class="professions-roll" name="Stealth" id="stealth" value="Stealth"></th>
                        <th><input type="button" class="professions-roll" name="Knowledge" id="knowledge" value="Knowledge"></th>
                        <th><input type="button" class="professions-roll" name="Social" id="social" value="Social"></th>
                        <th><input type="button" class="professions-roll" name="Physical" id="physical" value="Physical"></th>
                    </tr>
                    <tr class="field-inputs">
                        <td><input type="number" name="data.professions.combat" value="{{data.professions.combat}}" ></td>
                        <td><input type="number" name="data.professions.magic" value="{{data.professions.magic}}" ></td>
                        <td><input type="number" name="data.professions.evade" value="{{data.professions.evade}}" ></td>
                        <td><input type="number" name="data.professions.observe" value="{{data.professions.observe}}" ></td>
                        <td><input type="number" name="data.professions.stealth" value="{{data.professions.stealth}}" ></td>
                        <td><input type="number" name="data.professions.knowledge" value="{{data.professions.knowledge}}" ></td>
                        <td><input type="number" name="data.professions.social" value="{{data.professions.social}}" ></td>
                        <td><input type="number" name="data.professions.physical" value="{{data.professions.physical}}" ></td>
                    </tr>
                </table>
            </div>
            <table>
                <tr class="skill-table">
                    <th>Roll</th>
                    <th>Unconventional Skill</th>
                    <th>Value</th>
                </tr>
                <tr class="field-inputs-small">
                    <td><input type="button" class="unconventional-roll" name="{{data.skills.profession1.name}}" id="profession1" value="Roll"></td>
                    <td><input type="text" name="data.skills.profession1.name" value="{{data.skills.profession1.name}}" ></td>
                    <td><input type="number" name="data.skills.profession1.bonus" value="{{data.skills.profession1.bonus}}" ></td>
                </tr>
                <tr class="field-inputs-small">
                    <td><input type="button" class="unconventional-roll" name="{{data.skills.profession2.name}}" id="profession2" value="Roll"></td>
                    <td><input type="text" name="data.skills.profession2.name" value="{{data.skills.profession2.name}}" ></td>
                    <td><input type="number" name="data.skills.profession2.bonus" value="{{data.skills.profession2.bonus}}" ></td>
                </tr>
                <tr class="field-inputs-small">
                    <td><input type="button" class="unconventional-roll" name="{{data.skills.profession3.name}}" id="profession3" value="Roll"></td>
                    <td><input type="text" name="data.skills.profession3.name" value="{{data.skills.profession3.name}}" ></td>
                    <td><input type="number" name="data.skills.profession3.bonus" value="{{data.skills.profession3.bonus}}" ></td>
                </tr>
            </table>
        </div>

        {{!-- Bio Tab --}}
        <div class="tab desc" data-group="primary" data-tab="desc">
            <div>
                {{editor content=data.bio target="data.bio" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <table>
                <tr class="skill-table">
                    <th><input type="button" class="professions-roll" name="Combat" id="combat" value="Combat"></th>
                    <th><input type="button" class="professions-roll" name="Magic" id="magic" value="Magic"></th>
                    <th><input type="button" class="professions-roll" name="Evade" id="evade" value="Evade"></th>
                    <th><input type="button" class="professions-roll" name="Observe" id="observe" value="Observe"></th>
                    <th><input type="button" class="professions-roll" name="Stealth" id="stealth" value="Stealth"></th>
                    <th><input type="button" class="professions-roll" name="Knowledge" id="knowledge" value="Knowledge"></th>
                    <th><input type="button" class="professions-roll" name="Social" id="social" value="Social"></th>
                    <th><input type="button" class="professions-roll" name="Physical" id="physical" value="Physical"></th>
                </tr>
                <tr class="field-inputs">
                    <td><input type="number" value="{{data.professionsWound.combat}}" disabled></td>
                    <td><input type="number" value="{{data.professionsWound.magic}}" disabled></td>
                    <td><input type="number" value="{{data.professionsWound.evade}}" disabled></td>
                    <td><input type="number" value="{{data.professionsWound.observe}}" disabled></td>
                    <td><input type="number" value="{{data.professionsWound.stealth}}" disabled></td>
                    <td><input type="number" value="{{data.professionsWound.knowledge}}" disabled></td>
                    <td><input type="number" value="{{data.professionsWound.social}}" disabled></td>
                    <td><input type="number" value="{{data.professionsWound.physical}}" disabled></td>
                </tr>
            </table>
            <div class="combat-sidebar">
                <table class="combat_table_header2">
                    <tr>
                        <th>Weapons & Armor</th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Size</th>
                        <td><select name="data.size" data-type="String">
                            {{#select actor.data.size}}
                            {{#each actor.data.size_cat as |size_cat key|}}
                            <option value="{{key}}">{{size_cat}}</option> 
                            {{/each}} {{/select}}
                            </select></td>
                        <th>Armor Class</th>
                        <td><select name="data.armor_class" data-type="String">
                            {{#select actor.data.armor_class}}
                            {{#each actor.data.armor_class_cat as |armor_class_cat key|}}
                            <option value="{{key}}">{{armor_class_cat}}</option> 
                            {{/each}} {{/select}}
                            </select></td>
                    </tr>
                </table>
                <table class="combatHeader">
                    <tr>
                        <td><input type="button" class="weapon-create" id="weapon" value="+"></td>
                        <td class="combatLabel">Weapons</td>
                    </tr>
                </table>
            <ol class="combat-list">
                {{#each actor.data.weapon as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <a class="damage-roll" data-roll="{{item.data.value}}"><i class="fas fa-dice-d20"></i></a>
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <h4 class="item-cat">2H<input class="toggle2H" type="checkbox" {{checked item.data.weapon2H}} title="Toggle 2H Damage"></h4>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
            <table class="combatHeader">
                <tr>
                    <td><input type="button" class="ammo-create" id="ammunition" value="+"></td>
                    <td class="combatLabel">Ammunition</td>
                </tr>
            </table>
        <ol class="combat-list">
            {{#each actor.data.ammunition as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <a class="ammo-roll" title="Send Stats to Chat and Reduce Ammo by 1" data-roll="{{item.data.value}}"><i class="fas fa-dice-d20"></i></a>
                    <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="ammo-controls">
                        <a><input title="-1" class="ammo-minus" type="button" value="-"></a>
                        <a><input title="+1" class="ammo-plus" type="button" value="+"></a>
                    </div>
                    <h4 class="item-cat"><input class="ammo-field" type="number" value="{{item.data.quantity}}" title="Ammo Qty" disabled></h4>
                    <div class="item-controls">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
        <ol class="combat-list">
            {{#each actor.data.armor as |armor equipped|}}
            <div class="armor-header-wrapper">
                <table class="combatHeader">
                    <tr>
                        <td><input type="button" class="armor-create" id="armor" value="+"></td>
                        <td class="combatLabel">{{equipped}} Armor</td>
                    </tr>
                </table>
            </div>
            {{#each armor as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <a title="Send Stats to Chat" class="armor-roll" data-roll="{{item.data.value}}"><i class="fas fa-dice-d20"></i></a>
                    <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-cat" title="{{item.data.magic_ar}}">{{item.data.armor}}AR</h4>
                    <h4 class="item-equip"><input class="itemEquip" type="checkbox" {{checked item.data.equipped}} title="Equip Armor"></h4>
                    <div class="item-controls">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        {{/each}}
    </ol>
            </div>
            <div class="combat-sidebar2">
            <table class="combat_table_header2">
                <tr>
                    <th>Stats</th>
                </tr>
            </table>
            <table>
                <tr class="ap-inputs">
                    <th>Action Points</th>
                    <td><input type="number" name="data.action_points.value" value="{{data.action_points.value}}" ></td>
                    <td><input type="number" name="data.action_points.max" value="{{data.action_points.max}}" ></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Wound</th>
                    <th>Speed</th>
                    <th>Initiative</th>
                </tr>
                <tr class="ap-inputs">
                    <td><input type="number" name="data.wound_threshold.value" value="{{data.wound_threshold.value}}" disabled></td>
                    <td title= "Swim: {{data.speed.swimSpeed}} Fly: {{data.speed.flySpeed}}"><input type="number" name="data.speed.value" value="{{data.speed.value}}"  disabled></td>
                    <td><input type="number" name="data.initiative.value" value="{{data.initiative.value}}" disabled></td>
                </tr>
            </table>
            <table class="field-inputs-small">
                <tr>
                    <th colspan="2">Resistances</th>
                </tr>
                <tr>
                    <th><input type="button" class="resistance-roll" name="Disease" id="diseaseR" value="Disease %"></th>
                    <td><input type="number" name="data.resistance.diseaseR" value="{{data.resistance.diseaseR}}"  disabled></td>
                </tr>
                <tr>
                    <th>Fire</th>
                    <td><input type="number" name="data.resistance.fireR" value="{{data.resistance.fireR}}"  disabled></td>
                </tr>
                <tr>
                    <th>Frost</th>
                    <td><input type="number" name="data.resistance.frostR" value="{{data.resistance.frostR}}"  disabled></td>
                </tr>
                <tr>
                    <th>Shock</th>
                    <td><input type="number" name="data.resistance.shockR" value="{{data.resistance.shockR}}"  disabled></td>
                </tr>
                <tr>
                    <th>Poison</th>
                    <td><input type="number" name="data.resistance.poisonR" value="{{data.resistance.poisonR}}"  disabled></td>
                </tr>
                <tr>
                    <th>Magic</th>
                    <td><input type="number" name="data.resistance.magicR" value="{{data.resistance.magicR}}"  disabled></td>
                </tr>
                <tr>
                    <th>Toughness</th>
                    <td><input type="number" name="data.resistance.natToughness" value="{{data.resistance.natToughness}}"  disabled></td>
                </tr>
                <tr>
                    <th>Silver</th>
                    <td><input type="number" name="data.resistance.silverR" value="{{data.resistance.silverR}}"  disabled></td>
                </tr>
                <tr>
                    <th>Sunlight</th>
                    <td><input type="number" name="data.resistance.sunlightR" value="{{data.resistance.sunlightR}}"  disabled></td>
                </tr>
                <tr title="Check to toggle wounded penalties to initiative and skill rolls">
                    <th>Wounded</th>
                    <td><input type="checkbox" name="data.wounded" {{checked data.wounded}}></td>
                </tr>
                <tr>
                    <td colspan="2"><textarea name="data.woundNotes">{{data.woundNotes}}</textarea>
                </tr>
            </table>
        </div>
    </div>

        {{!-- Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <table>
                <tr>
                    <th colspan="7" class="combat_table_header2">Magic Skill Roll</th>
                </tr>
                <tr>
                    <th><input type="button" class="professions-roll" name="Magic" id="magic" value="Magic"></th>
                </tr>
            </table>
            <ol class="spell-list">
                {{#each actor.data.spell as |spell school|}}
                <div>
                    <table class="itemHeader">
                        <tr>
                            <td colspan="2" class="talentsLabel">{{school}} spells</th>
                        </tr>
                    </table>
                </div>
                {{#each spell as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <a class="magic-roll" data-roll="{{item.data.value}}"><i class="fas fa-dice-d20"></i></a>
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
        </div>

        {{!-- Talents Tab --}}
        <div class="tab talents" data-group="primary" data-tab="talents">
            <div>
                <table class="field-inputs-small">
                    <tr>
                        <th colspan="9">Resistances & Weaknesses</th>
                    </tr>
                    <tr>
                        <th>Disease %</th>
                        <th>Fire</th>
                        <th>Frost</th>
                        <th>Shock</th>
                        <th>Poison</th>
                        <th>Magic</th>
                        <th>Tough</th>
                        <th>Silver</th>
                        <th>Sunlight</th>
                    </tr>
                    <tr>
                        <td><input type="number" name="data.resistance.diseaseR" value="{{data.resistance.diseaseR}}"  disabled></td>
                        <td><input type="number" name="data.resistance.fireR" value="{{data.resistance.fireR}}"  disabled></td>
                        <td><input type="number" name="data.resistance.frostR" value="{{data.resistance.frostR}}"  disabled></td>
                        <td><input type="number" name="data.resistance.shockR" value="{{data.resistance.shockR}}"  disabled></td>
                        <td><input type="number" name="data.resistance.poisonR" value="{{data.resistance.poisonR}}"  disabled></td>
                        <td><input type="number" name="data.resistance.magicR" value="{{data.resistance.magicR}}"  disabled></td>
                        <td><input type="number" name="data.resistance.natToughness" value="{{data.resistance.natToughness}}"  disabled></td>
                        <td><input type="number" name="data.resistance.silverR" value="{{data.resistance.silverR}}"  disabled></td>
                        <td><input type="number" name="data.resistance.sunlightR" value="{{data.resistance.sunlightR}}"  disabled></td>
                    </tr>
                </table>
                <table class="itemHeader">
                    <tr>
                        <td><input type="button" class="trait-create" id="trait" value="+"></td>
                        <td class="talentsLabel">Traits</td>
                    </tr>
                </table>
                <ol class="talents-list">
                    {{#each actor.data.trait as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <img class="item-img" src="{{item.img}}" title="Send to Chat" width="24" height="24"/>
                            <h4 class="item-name">{{item.name}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
                    <table class="itemHeader">
                        <tr>
                            <td><input type="button" class="power-create" id="power" value="+"></td>
                            <td class="talentsLabel">Powers</td>
                        </tr>
                    </table>
                    <ol class="talents-list">
                        {{#each actor.data.power as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <img class="item-img" src="{{item.img}}" title="Send to Chat" width="24" height="24"/>
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                        <table class="itemHeader">
                            <tr>
                                <td><input type="button" class="talent-create" id="talent" value="+"></td>
                                <td class="talentsLabel">Talents</td>
                            </tr>
                        </table>
                        <ol class="talents-list">
                            {{#each actor.data.talent as |item id|}}
                                <li class="item flexrow" data-item-id="{{item._id}}">
                                    <img class="item-img" src="{{item.img}}" title="Send to Chat" width="24" height="24"/>
                                    <h4 class="item-name">{{item.name}}</h4>
                                    <div class="item-controls">
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                            {{/each}}
                        </ol>
            </div>
            <div>
                <table class="itemHeader">
                    <tr>
                        <td class="talentsLabel">Special Abilities</td>
                    </tr>
                </table>
                {{editor content=data.talents target="data.talents" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div>
                <table class="skill-table">
                    <tr>
                        <th>Wealth</th>
                        <th>Supply</th>
                        <th>Carry Bonus</th>
                        <th>Carry Rating</th>
                        <th>Current ENC</th>
                    </tr>
                    <tr>
                        <td><input type="number" name="data.wealth" value="{{data.wealth}}" ></td>
                        <td><select name="data.supply" >
                            {{#select actor.data.supply}}
                            {{#each actor.data.supply_cat as |supply_cat key|}}
                            <option value="{{key}}">{{supply_cat}}</option>
                            {{/each}} {{/select}}
                        </select></td>
                        <td><input type="number" name="data.carry_rating.bonus" value="{{data.carry_rating.bonus}}" ></td>
                        <td><input type="number" name="data.carry_rating.max" value="{{data.carry_rating.max}}"  disabled></td>
                        <td><input class="enc-color-green" type="number" name="data.current_enc" value="{{data.current_enc}}"  disabled></td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr class="itemHeader">
                        <td><input type="button" class="gear-create" id="item" value="+"></td>
                        <td class="talentsLabel">Inventory</td>
                    </tr>
                </table>
            </div>
            <ol class="item-list">
                {{#each actor.data.gear as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-list-resource">
                        <input name="data.quantity" type="number" value="{{data.quantity}}" title="QTY" disabled>
                        <input type="number" name="data.enc" value="{{data.enc}}" title="ENC" disabled>
                        </div>
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div> 
    </section>
</form>
