/*---------------------------- 
  Fonts
------------------------------*/

@font-face {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
}


/*---------------------------- 
  Global Styles
------------------------------*/

.window-header {
  background: url("../images/black.png") repeat;
  font-family: "cyrodiil";
}

.window-app .window-content,
.worldbuilding .window-content {
  background: url("../images/parchment5.jpg") repeat;
  background-size: contain;
  border-left: rgb(0, 0, 0) 5px solid;
  border-right: rgb(0, 0, 0) 5px solid;
  border-bottom: rgb(0, 0, 0) 5px solid;
  box-shadow: 5px 5px 30px 5px;
}

.window-title {
  font-size: large;
}

.worldbuilding h1, h2 {
  font-family: "cyrodiil";
  text-align: center;
}

.worldbuilding button {
  font-family: "cyrodiil";
}

.worldbuilding button:hover {
  cursor: pointer;
}

.worldbuilding .item-name:hover {
  cursor: pointer;
  font-weight: bold;
}

.worldbuilding nav {
  font-family: "cyrodiil";
  font-size: 18px;
}

.worldbuilding nav .active {
  text-decoration: underline;
}

.worldbuilding .fa-dice-d20:hover {
  cursor: pointer;
  color: darkred;
}

.worldbuilding .rollable:hover {
  cursor: pointer;
  color: darkred;
}

/* .worldbuilding .characteristic-roll {
  color: rgb(4, 70, 1);
} */

/*---------------------------- 
  TinyMCE Editor
------------------------------*/

.worldbuilding .editor {
  min-height: 100px;
}

.worldbuilding .editor-content {
  min-height: 300px;
}

/*---------------------------- 
  Chat Log Styles
------------------------------*/
.chat-message h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.chat-message h2 img {
  height: 24px;
  width: 24px;
}


/*---------------------------- 
  Actor Sheets
------------------------------*/

.worldbuilding .sheet-section-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.worldbuilding img {
  border: none;
}


/*---------------------------- 
  Items Lists & Tables
------------------------------*/

.worldbuilding .headerWithButton {
  width: 100%;
  position: relative;
}

.worldbuilding .skillList {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.worldbuilding .single-column-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.worldbuilding .skillList .item,
.worldbuilding .single-column-list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.719);
  background-color: rgba(194, 194, 194, 0.308);
}

.worldbuilding .headerWithButton button {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  line-height: 14px;
}

.worldbuilding .itemInfo,
.worldbuilding .item-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}

.worldbuilding .item img {
  height: 24px;
  width: 24px;
}

.worldbuilding .item-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.worldbuilding table td {
  text-align: center;
}

.worldbuilding .tableItemNameCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.worldbuilding .spellList table tr {
  display: none;
}

.worldbuilding .spellList table .active {
  display: table-row;
}

.worldbuilding .equipmentList button {
  height: 24px;
  line-height: 14px;
}


/*---------------------------- 
  Actor Sheets - Fixed Section
------------------------------*/

.worldbuilding .sheet-fixed-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
  padding: 10px;
  border-right: solid 1px black;
  background-color: rgba(199, 199, 199, 0.774);
}

.worldbuilding .fixed-data-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.worldbuilding .profile-img-container {
  position: relative;
  height: 180px;
  width: 100%;
}

.worldbuilding .profile-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border: 2px solid black;
}

/*---------------------------- 
  Actor Sheets - Resource Bars
------------------------------*/

.worldbuilding .resourceBars {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 0 0 5px 0;
}

.worldbuilding #hpResource,
.worldbuilding #staminaResource,
.worldbuilding #magickaResource,
.worldbuilding #luckResource {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.worldbuilding .resourceLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
}

.worldbuilding .maxBar {
  position: relative;
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  font-family: "cyrodiil";
  font-weight: bold;
}

.worldbuilding .currentBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.worldbuilding .currentBar input {
  width: 30px;
  color: white;
  border: none;
  text-align: center;
  font-weight: bold;
}

.worldbuilding #hpBar {
  color: white;
  background-color: darkred;
}

.worldbuilding #staminaBar {
  color: white;
  background-color: green;
}

.worldbuilding #magickaBar {
  color: white;
  background-color: rgb(30, 130, 223);
}

.worldbuilding #luck_pointsBar {
  color: white;
  background-color: purple;
}

/*---------------------------- 
  Actor Sheets - Characteristics
------------------------------*/
.worldbuilding .characteristics-container {
  display: flex;
  flex-direction: column;
}

.worldbuilding .characteristic-entry-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.worldbuilding .characteristic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(128, 128, 128, 0.719);
  background-color: rgba(194, 194, 194, 0.308);
  height: 40px;
}

.worldbuilding .characteristic input {
  height: 16px;
  width: 16px;
}

.worldbuilding .characteristic .right-align-content {
  width: 100%;
  height: 100%;
}

.worldbuilding .characteristic .right-align-content .relative-container {
  position: relative;
}

.worldbuilding .characteristic .right-align-content .relative-container div {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 4px;
  right: 7px;
  padding: 2px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.worldbuilding .characteristic .right-align-content img {
  height: 35px;
  width: 35px;
  top: 3px;
  right: 5px;
  position: absolute;
  padding: 2px;
}

.worldbuilding .styled-font {
  font-family: "cyrodiil";
  font-size: 18px;
}

.worldbuilding .styled-font-bold {
  font-family: "cyrodiil";
  font-size: 18px;
  font-weight: bold;
}

.worldbuilding .characteristics-container h2 {
  margin: 0 0 5px 0;
  position: relative;
}

.worldbuilding .characteristics-container h2 button {
  position: absolute;
  left: 0;
  top: 1px;
  width: 35px;
  height: 26px;
  line-height: 14px;
}

/*----------------------------------------- 
  Actor Sheets - Language & Factions
-------------------------------------------*/

.worldbuilding .two-column-flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.worldbuilding .languageContainer,
.worldbuilding .factionContainer {
  width: 50%;
}


/*---------------------------- 
  Actor Sheets - Body Section
------------------------------*/

.worldbuilding .sheet-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: rgba(248, 248, 248, 0.404);
}

.worldbuilding .tabContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/*---------------------------- 
  Actor Sheets - Core Tab
------------------------------*/

.worldbuilding .bioPage .contentContainer {
  height: 100%;
  /* height: 200px;
  overflow: scroll; */
}

.worldbuilding .buttonStats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*---------------------------- 
  Actor Sheets - Combat Tab
------------------------------*/


/*---------------------------- 
  Actor Sheets - Magic Tab
------------------------------*/

.worldbuilding .magicTabContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.worldbuilding .spellListContainer .tableListHeader h2 {
  position: relative;
}

.worldbuilding .spellListContainer .tableListHeader h2 button {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 14px;
}

.worldbuilding .spellListContainer .tableListHeader h2 select {
  position: absolute;
  right: 0;
  top: 0;
}


/*---------------------------- 
  Actor Sheets - Equipment Tab
------------------------------*/

.worldbuilding .equipmentTabContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.worldbuilding .equipment-info-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  gap: 20px;
}

.worldbuilding .equipment-info-container h2 {
  width: 100%;
  padding: 0;
  margin: 0;
}

.worldbuilding .equipment-info-container img {
  height: 35px;
  width: 35px;
}

.worldbuilding .equipment-info-container button,
.worldbuilding .equipment-info-container input {
  width: 150px;
  text-align: center;
}

.worldbuilding .wealthContainer,
.worldbuilding .encContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 5px;
}

.worldbuilding .encContainer .encLabel {
  font-size: 20px;
  height: 26px;
}

.worldbuilding .itemListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.worldbuilding .itemListContainer .equipmentList h2 {
  position: relative;
}

.worldbuilding .itemListContainer .equipmentList h2 button {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 14px;
}